 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background-color: #eef2ff;
    }

    header {
      margin-top: 47px;
      margin-left: 42px;
    }

    .link-menu {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.875px;
      color: #17233d;
      margin-right: 32px;
      text-decoration: none;
      cursor: pointer;
    }

    .botao-wide {
      background-color: darkblue;
      border: 1px solid darkblue;
      border-radius: 6px;
      width: 124px;
      height: 51px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #ffffff;
      cursor: pointer;
    }

    .conteudo {
      margin-top: 163px;
      margin-left: 123px;
    }

    img {
      display: inline-block;
      vertical-align: top;
    }

    div {
        display: inline-block;
        margin-left: 85px;
        width: 493px;
    
    }

    .texto {
      display: inline-block;
      margin-left: 85px;
      vertical-align: top;
    }

    h1 {
      font-weight: 700;
      font-size: 62px;
      line-height: 82px;
      letter-spacing: 0.596154px;
      color: #161a49;
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 33px;
      letter-spacing: 0.5px;
      color: #48505a;
      margin-bottom: 30px;
      margin-top: 47px;
      margin-bottom: 55px;
    }

    .button-learn-more {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1px;
      background-color: darkblue;
      border: 1px solid darkblue;
      border-radius: 6px;
      color: white;
      padding: 12px 24px;
      cursor: pointer;
    }

    @media (max-width: 1024px) {

  header {
    margin: 20px;
    text-align: center;
  }

  .link-menu {
    display: none;
  }

  .botao-wide {
    width: 100%;
    max-width: 220px;
    margin-top: 10px;
  }

  .conteudo {
    margin: 40px 20px;
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
  }

  div,
  .texto {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0 30px;
  }

  .button-learn-more {
    width: 100%;
    max-width: 220px;
  }
}
