* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #020617, #020f2f);
  color: #e5e7eb;
}


header {
  padding: 25px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #38bdf8;
  font-size: 28px;
}

header nav a {
  color: #e5e7eb;
  margin-left: 30px;
  text-decoration: none;
}

header nav a:hover {
  color: #38bdf8;
}


section {
  max-width: 1200px;
  margin: 120px auto;
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0 20px;
}

.texto h2 {
  font-size: 48px;
  margin-bottom: 25px;
}

.texto p {
  font-size: 18px;
  color: #cbd5f5;
  margin-bottom: 40px;
}

.texto button {
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  color: #020617;
  padding: 16px 40px;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.texto button:hover {
  transform: scale(1.05);
}

section img {
  width: 460px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(56,189,248,0.3);
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: center;
  }
}